.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  position: relative;
  min-width: 0;
  border-radius: 4px;
  padding: var(--token-nc4gI_WSeIVO);
}
.svg__qdd6A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__lGjal {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-KXYD7zyjO4Bj);
  padding-bottom: var(--token-vz0aNanRXwQp);
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__aBaam {
  display: flex;
  position: relative;
}
.slotTargetSlot3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--token-6AMAvIY4vlat);
}
.freeBox__osk1H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: var(--token-nc4gI_WSeIVO);
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__nKda {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.link__t93Qr {
  color: var(--token-6AMAvIY4vlat);
  text-decoration-line: underline;
  font-weight: 700;
}
