.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__gHGgU {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  min-width: 0;
  padding: var(--token-vz0aNanRXwQp) var(--token-KXYD7zyjO4Bj);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gHGgU {
    padding-left: var(--token-nc4gI_WSeIVO);
    padding-right: var(--token-nc4gI_WSeIVO);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxmenuOpen__gHGgUTeSwf {
    background: #ffffff;
  }
}
.freeBox__gjTm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  z-index: 2;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gjTm {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 0;
  }
}
.freeBoxsignedIn__gjTmdSOz3 {
  width: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxmenuOpen_signedIn__gjTmTeSwfDSOz3 {
    width: 100%;
    min-width: 0;
  }
}
.link {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--token-z5jrjsGJ26EO);
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
}
.freeBox__bjGv1 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 2;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bjGv1 {
    width: auto;
    height: auto;
    display: flex;
  }
}
.svg__on8OP {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zp5Cyb3wglCh);
  width: var(--token-KXYD7zyjO4Bj);
  height: var(--token-KXYD7zyjO4Bj);
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__on8OP {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .svgmenuOpen__on8OPTeSwf {
    display: none;
  }
}
.svg__ieHuD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p410ROcz8t53);
  width: var(--token-KXYD7zyjO4Bj);
  height: var(--token-KXYD7zyjO4Bj);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ieHuD {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .svgmenuOpen__ieHuDTeSwf {
    color: var(--token-zp5Cyb3wglCh);
    display: block;
  }
}
.freeBox__eH0Fo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eH0Fo {
    top: auto;
    z-index: 1;
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: auto;
    right: auto;
    bottom: auto;
    min-width: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxmenuOpen__eH0FoTeSwf {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background: none;
    padding-top: 60px;
    min-width: 0;
    display: flex;
  }
}
.freeBox__uX723 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__uX723 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-KXYD7zyjO4Bj));
  width: calc(100% + var(--token-KXYD7zyjO4Bj));
}
.freeBox__uX723 > :global(.__wab_flex-container) > *,
.freeBox__uX723 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uX723 > :global(.__wab_flex-container) > picture > img,
.freeBox__uX723
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-KXYD7zyjO4Bj);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uX723 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uX723 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uX723 > :global(.__wab_flex-container) > *,
  .freeBox__uX723 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uX723 > :global(.__wab_flex-container) > picture > img,
  .freeBox__uX723
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.button__fwMbe:global(.__wab_instance) {
  max-width: 100%;
}
.svg__zzkxp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__weuyY {
  color: var(--token-6AMAvIY4vlat);
}
.svg__kAQgI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__latLi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__gh5Z3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__kGug8 {
  color: var(--token-6AMAvIY4vlat);
}
.svg___2CXgT {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__ruCw9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__o0NMb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__i7Mpj {
  color: var(--token-6AMAvIY4vlat);
}
.svg__weAa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__qm3U3 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__qm3U3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-KXYD7zyjO4Bj));
  width: calc(100% + var(--token-KXYD7zyjO4Bj));
}
.freeBox__qm3U3 > :global(.__wab_flex-container) > *,
.freeBox__qm3U3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qm3U3 > :global(.__wab_flex-container) > picture > img,
.freeBox__qm3U3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-KXYD7zyjO4Bj);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qm3U3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qm3U3 > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qm3U3 > :global(.__wab_flex-container) > *,
  .freeBox__qm3U3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qm3U3 > :global(.__wab_flex-container) > picture > img,
  .freeBox__qm3U3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBoxsignedIn__qm3U3DSOz3 {
  display: none;
}
.button__uqJl1:global(.__wab_instance) {
  max-width: 100%;
}
.svg__iJNp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___1Hps {
  padding-right: 0px;
  color: var(--token-zp5Cyb3wglCh);
}
.svg__mUaJr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__uxfXy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___7FrSd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__kultU {
  padding-right: 0px;
  color: var(--token-zp5Cyb3wglCh);
}
.svg__yua92 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__ohrPs {
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
}
.freeBox__ohrPs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-KXYD7zyjO4Bj));
  width: calc(100% + var(--token-KXYD7zyjO4Bj));
}
.freeBox__ohrPs > :global(.__wab_flex-container) > *,
.freeBox__ohrPs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ohrPs > :global(.__wab_flex-container) > picture > img,
.freeBox__ohrPs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-KXYD7zyjO4Bj);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ohrPs {
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ohrPs > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ohrPs > :global(.__wab_flex-container) > *,
  .freeBox__ohrPs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ohrPs > :global(.__wab_flex-container) > picture > img,
  .freeBox__ohrPs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBoxsignedIn__ohrPsdSOz3 {
  display: flex;
}
.button__sZenC:global(.__wab_instance) {
  max-width: 100%;
}
.svg___3531O {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__iGfDu {
  padding-right: 0px;
  color: var(--token-p410ROcz8t53);
}
.textsignedIn__iGfDUdSOz3 {
  color: var(--token-zp5Cyb3wglCh);
}
.svg__gh0CO {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__hYiI2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__omvqi {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__kcmD {
  padding-right: 0px;
  color: var(--token-p410ROcz8t53);
}
.textsignedIn__kcmDdSOz3 {
  color: var(--token-zp5Cyb3wglCh);
}
.svg___72MPn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
