.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-iFhGVsf8NNhV);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section__hMrnc {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  background: url("/plasmic/first_industrial_bank/images/aloBGjpg.jpg") top 50% left 50% / cover repeat, #001a4d;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.section__hMrnc > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__hMrnc {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__hMrnc > * {
    grid-column: 4;
  }
}
.freeBox__kIwfn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kIwfn {
    display: flex;
    flex-direction: column;
  }
}
.freeBox__i9P5D {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__x6XbJ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-mIomZhwWgszJ);
  margin-right: 0px;
  padding-right: 0px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 300;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__x6XbJ {
    font-size: 6px;
  }
}
.freeBox__y01Bb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__uSLx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__mMTvG {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: var(--token-p410ROcz8t53);
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mMTvG {
    font-size: 38px;
  }
}
.freeBox__uzXjR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__uzXjR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-nc4gI_WSeIVO));
  height: calc(100% + var(--token-nc4gI_WSeIVO));
}
.freeBox__uzXjR > :global(.__wab_flex-container) > *,
.freeBox__uzXjR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uzXjR > :global(.__wab_flex-container) > picture > img,
.freeBox__uzXjR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-nc4gI_WSeIVO);
}
.text___3J5Ha {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-l4RywEndILge);
  min-width: 0;
}
.freeBox___9WcDn {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___9WcDn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox___9WcDn > :global(.__wab_flex-container) > *,
.freeBox___9WcDn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9WcDn > :global(.__wab_flex-container) > picture > img,
.freeBox___9WcDn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9WcDn {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9WcDn > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-vz0aNanRXwQp));
    height: calc(100% + var(--token-vz0aNanRXwQp));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9WcDn > :global(.__wab_flex-container) > *,
  .freeBox___9WcDn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9WcDn > :global(.__wab_flex-container) > picture > img,
  .freeBox___9WcDn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-vz0aNanRXwQp);
  }
}
.button__vrHFf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__kuNt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__maE5L {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__lalDh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__lalDh:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__wb4Db {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__hrcTx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__uakge {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: 319px;
  right: auto;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uakge {
    top: 532px;
  }
}
.img__sfyoD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__sfyoD > picture > img {
  object-fit: cover;
}
.img__sfyoD > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.section__ou7Ro {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 30px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 291px 0 8px;
}
.section__ou7Ro > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__ou7Ro {
    padding-top: 90px;
    grid-row-gap: var(--token-vz0aNanRXwQp);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__ou7Ro > * {
    grid-column: 4;
  }
}
.text___5UqLc {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--token-9GQw7vQY4tNh);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5UqLc {
    font-size: 18px;
  }
}
.freeBox__xzvU {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__xzvU > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xzvU {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xzvU > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xzvU > :global(.__wab_flex-container) > *,
  .freeBox__xzvU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xzvU > :global(.__wab_flex-container) > picture > img,
  .freeBox__xzvU
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.text___9Va6B {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: var(--token-9GQw7vQY4tNh);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9Va6B {
    font-size: 20px;
  }
}
.text__znfnZ {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: var(--token-9GQw7vQY4tNh);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__znfnZ {
    font-size: 20px;
  }
}
.text__kVdV {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: var(--token-9GQw7vQY4tNh);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kVdV {
    font-size: 20px;
  }
}
.section__qye9S {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0;
}
.section__qye9S > * {
  grid-column: 4;
}
.freeBox___7EXwa {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox___7EXwa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7EXwa {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7EXwa > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-vz0aNanRXwQp));
    height: calc(100% + var(--token-vz0aNanRXwQp));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7EXwa > :global(.__wab_flex-container) > *,
  .freeBox___7EXwa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___7EXwa > :global(.__wab_flex-container) > picture > img,
  .freeBox___7EXwa
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-vz0aNanRXwQp);
  }
}
.text___5ULix {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 34px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5ULix {
    font-size: 26px;
  }
}
.freeBox__mJzLf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mJzLf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vz0aNanRXwQp));
  height: calc(100% + var(--token-vz0aNanRXwQp));
}
.freeBox__mJzLf > :global(.__wab_flex-container) > *,
.freeBox__mJzLf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mJzLf > :global(.__wab_flex-container) > picture > img,
.freeBox__mJzLf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vz0aNanRXwQp);
}
.text__sr6Tc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___7Rqlq {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___7Rqlq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox___7Rqlq > :global(.__wab_flex-container) > *,
.freeBox___7Rqlq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Rqlq > :global(.__wab_flex-container) > picture > img,
.freeBox___7Rqlq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Rqlq {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Rqlq > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-KuNw_o9rFmCL));
    height: calc(100% + var(--token-KuNw_o9rFmCL));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Rqlq > :global(.__wab_flex-container) > *,
  .freeBox___7Rqlq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___7Rqlq > :global(.__wab_flex-container) > picture > img,
  .freeBox___7Rqlq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-KuNw_o9rFmCL);
  }
}
.metricItem__lvzJr:global(.__wab_instance) {
  position: relative;
}
.metricItem__yLm3:global(.__wab_instance) {
  position: relative;
}
.metricItem__jsyu:global(.__wab_instance) {
  position: relative;
}
.text__dlHhI {
  text-transform: capitalize;
}
.section__u29Ge {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 30px 0 var(--token-KXYD7zyjO4Bj);
}
.section__u29Ge > * {
  grid-column: 4;
}
.freeBox__fdcr0 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox__fdcr0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fdcr0 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fdcr0 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-KXYD7zyjO4Bj));
    height: calc(100% + var(--token-KXYD7zyjO4Bj));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fdcr0 > :global(.__wab_flex-container) > *,
  .freeBox__fdcr0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fdcr0 > :global(.__wab_flex-container) > picture > img,
  .freeBox__fdcr0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-KXYD7zyjO4Bj);
  }
}
.feature__gbPnl:global(.__wab_instance) {
  position: relative;
}
.svg__x0DJc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-6AMAvIY4vlat);
  width: 30px;
  height: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__x0DJc {
    width: 24px;
    height: 24px;
  }
}
.feature__rOnQq:global(.__wab_instance) {
  position: relative;
}
.svg__r1PeU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-6AMAvIY4vlat);
  width: 30px;
  height: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__r1PeU {
    width: 24px;
    height: 24px;
  }
}
.feature___17Lct:global(.__wab_instance) {
  position: relative;
}
.svg__jShJt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-6AMAvIY4vlat);
  width: 30px;
  height: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__jShJt {
    width: 24px;
    height: 24px;
  }
}
.section__hRjx {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: #00cccc1a;
  height: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0;
}
.section__hRjx > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__hRjx > * {
    grid-column: 4;
  }
}
.freeBox__mx9Db {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox__mx9Db > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mx9Db {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mx9Db > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-vz0aNanRXwQp));
    height: calc(100% + var(--token-vz0aNanRXwQp));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mx9Db > :global(.__wab_flex-container) > *,
  .freeBox__mx9Db > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mx9Db > :global(.__wab_flex-container) > picture > img,
  .freeBox__mx9Db
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-vz0aNanRXwQp);
  }
}
.freeBox__z1E7H {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__z1E7H > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vz0aNanRXwQp));
  height: calc(100% + var(--token-vz0aNanRXwQp));
}
.freeBox__z1E7H > :global(.__wab_flex-container) > *,
.freeBox__z1E7H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z1E7H > :global(.__wab_flex-container) > picture > img,
.freeBox__z1E7H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vz0aNanRXwQp);
}
.freeBox__wR7S6 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__wR7S6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vz0aNanRXwQp));
  height: calc(100% + var(--token-vz0aNanRXwQp));
}
.freeBox__wR7S6 > :global(.__wab_flex-container) > *,
.freeBox__wR7S6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wR7S6 > :global(.__wab_flex-container) > picture > img,
.freeBox__wR7S6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vz0aNanRXwQp);
}
.text__fmnCn {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--token-6AMAvIY4vlat);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text___3AnmM {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-9GQw7vQY4tNh);
  text-align: center;
  text-transform: capitalize;
}
.section__csAhU {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-6AMAvIY4vlat);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-KXYD7zyjO4Bj) 0;
}
.section__csAhU > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__csAhU > * {
    grid-column: 4;
  }
}
.freeBox___6Tv6V {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox___6Tv6V > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Tv6V {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Tv6V > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-nc4gI_WSeIVO));
    height: calc(100% + var(--token-nc4gI_WSeIVO));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Tv6V > :global(.__wab_flex-container) > *,
  .freeBox___6Tv6V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6Tv6V > :global(.__wab_flex-container) > picture > img,
  .freeBox___6Tv6V
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-nc4gI_WSeIVO);
  }
}
.freeBox__tv3Sj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 560px;
  min-width: 0;
}
.freeBox__tv3Sj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vz0aNanRXwQp));
  height: calc(100% + var(--token-vz0aNanRXwQp));
}
.freeBox__tv3Sj > :global(.__wab_flex-container) > *,
.freeBox__tv3Sj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tv3Sj > :global(.__wab_flex-container) > picture > img,
.freeBox__tv3Sj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vz0aNanRXwQp);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tv3Sj > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-vz0aNanRXwQp));
    height: calc(100% + var(--token-vz0aNanRXwQp));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tv3Sj > :global(.__wab_flex-container) > *,
  .freeBox__tv3Sj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tv3Sj > :global(.__wab_flex-container) > picture > img,
  .freeBox__tv3Sj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-vz0aNanRXwQp);
  }
}
.text__s5Uve {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: var(--token-p410ROcz8t53);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__s5Uve {
    font-size: 22px;
  }
}
.text__qptjj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-l4RywEndILge);
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.button__yur7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__z92Dz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__z0FP {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___2VA50 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 300px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2VA50 {
    max-width: 210px;
  }
}
.img__pjxtg {
  object-fit: cover;
  max-width: 100%;
}
.img__pjxtg > picture > img {
  object-fit: cover;
}
.img__pjxtg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.section__lzpnO {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: var(--token-nc4gI_WSeIVO);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-KXYD7zyjO4Bj) 0;
}
.section__lzpnO > * {
  grid-column: 4;
}
.text__pXWrx {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #001233cc;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pXWrx {
    font-size: 22px;
  }
}
.freeBox__y0Ycv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox__y0Ycv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-KXYD7zyjO4Bj));
  width: calc(100% + var(--token-KXYD7zyjO4Bj));
}
.freeBox__y0Ycv > :global(.__wab_flex-container) > *,
.freeBox__y0Ycv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y0Ycv > :global(.__wab_flex-container) > picture > img,
.freeBox__y0Ycv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-KXYD7zyjO4Bj);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y0Ycv {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y0Ycv > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-nc4gI_WSeIVO));
    height: calc(100% + var(--token-nc4gI_WSeIVO));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y0Ycv > :global(.__wab_flex-container) > *,
  .freeBox__y0Ycv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__y0Ycv > :global(.__wab_flex-container) > picture > img,
  .freeBox__y0Ycv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-nc4gI_WSeIVO);
  }
}
.testimonial__xmAn7:global(.__wab_instance) {
  position: relative;
}
.img__ch58A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-KXYD7zyjO4Bj);
  width: var(--token-KXYD7zyjO4Bj);
  object-position: 50% 10%;
  border-radius: 100%;
}
.img__ch58A > picture > img {
  object-fit: cover;
  object-position: 50% 10%;
}
.img__ch58A > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: 50% 10%;
}
.testimonial__ciRlL:global(.__wab_instance) {
  position: relative;
}
.img__yE5G7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-KXYD7zyjO4Bj);
  width: var(--token-KXYD7zyjO4Bj);
  object-position: 50% 10%;
  border-radius: 100%;
}
.img__yE5G7 > picture > img {
  object-fit: cover;
  object-position: 50% 10%;
}
.img__yE5G7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: 50% 10%;
}
.testimonial__qiOqj:global(.__wab_instance) {
  position: relative;
}
.img__x64Bh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-KXYD7zyjO4Bj);
  width: var(--token-KXYD7zyjO4Bj);
  object-position: 50% 50%;
  border-radius: 100%;
}
.img__x64Bh > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.img__x64Bh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.section__l211 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-6AMAvIY4vlat);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-KXYD7zyjO4Bj) 0;
}
.section__l211 > * {
  grid-column: 4;
}
.freeBox__yW2XO {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox__yW2XO > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yW2XO {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yW2XO > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-vz0aNanRXwQp));
    height: calc(100% + var(--token-vz0aNanRXwQp));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yW2XO > :global(.__wab_flex-container) > *,
  .freeBox__yW2XO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yW2XO > :global(.__wab_flex-container) > picture > img,
  .freeBox__yW2XO
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-vz0aNanRXwQp);
  }
}
.freeBox__gpTt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 630px;
  padding: 8px;
}
.img__pPkm3 {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img__pPkm3 > picture > img {
  object-fit: cover;
}
.img__pPkm3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__rXqsw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 560px;
  min-width: 0;
}
.freeBox__rXqsw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vz0aNanRXwQp));
  height: calc(100% + var(--token-vz0aNanRXwQp));
}
.freeBox__rXqsw > :global(.__wab_flex-container) > *,
.freeBox__rXqsw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rXqsw > :global(.__wab_flex-container) > picture > img,
.freeBox__rXqsw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vz0aNanRXwQp);
}
.text__c4GjM {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: var(--token-p410ROcz8t53);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__c4GjM {
    font-size: 22px;
  }
}
.text___17A8J {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-l4RywEndILge);
}
.button___9ZfXc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__b7MHk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__o5Bby {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
