.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-z5jrjsGJ26EO);
  min-width: 0;
}
.freeBox__nEb6W {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px var(--token-KXYD7zyjO4Bj);
}
.freeBox__nEb6W > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vz0aNanRXwQp));
  height: calc(100% + var(--token-vz0aNanRXwQp));
}
.freeBox__nEb6W > :global(.__wab_flex-container) > *,
.freeBox__nEb6W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nEb6W > :global(.__wab_flex-container) > picture > img,
.freeBox__nEb6W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vz0aNanRXwQp);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nEb6W {
    padding-right: var(--token-nc4gI_WSeIVO);
    padding-left: var(--token-nc4gI_WSeIVO);
  }
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-grow: 0;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__jz5T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__jz5T {
    width: 100%;
  }
}
.freeBox__wWukM {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__wWukM > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__wWukM > :global(.__wab_flex-container) > *,
.freeBox__wWukM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wWukM > :global(.__wab_flex-container) > picture > img,
.freeBox__wWukM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__zcWUo {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__zcWUo > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zcWUo > :global(.__wab_flex-container) > *,
.freeBox__zcWUo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zcWUo > :global(.__wab_flex-container) > picture > img,
.freeBox__zcWUo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__rfO9D {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--token-TDt1AE3Fj_jC);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rfO9D {
    font-size: 18px;
  }
}
.text__bFyaP {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-l4RywEndILge);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bFyaP {
    font-size: 12px;
  }
}
.column__vm9F0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__vm9F0 {
    width: 100%;
  }
}
.freeBox__erd9J {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__erd9J > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__erd9J > :global(.__wab_flex-container) > *,
.freeBox__erd9J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__erd9J > :global(.__wab_flex-container) > picture > img,
.freeBox__erd9J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__vq3On {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-p410ROcz8t53);
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vq3On {
    font-size: 14px;
  }
}
.button__k3EBu:global(.__wab_instance) {
  position: relative;
}
.svg__sMc40 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__qMR {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-l4RywEndILge);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qMR {
    font-size: 12px;
  }
}
.svg__exdd5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link {
  position: relative;
  display: flex;
}
.svg__iauoo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__nbuIj {
  height: auto;
  color: var(--token-l4RywEndILge);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nbuIj {
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--token-l4RywEndILge);
    text-align: left;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: normal;
    white-space: pre;
    user-select: text;
    text-decoration-line: none !important;
    text-overflow: clip !important;
  }
}
.svg__ov4S {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__pWm40 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__pWm40 {
    width: 100%;
  }
}
.freeBox___1FkR5 {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox___1FkR5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___1FkR5 > :global(.__wab_flex-container) > *,
.freeBox___1FkR5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1FkR5 > :global(.__wab_flex-container) > picture > img,
.freeBox___1FkR5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__enAQh {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-p410ROcz8t53);
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__enAQh {
    font-size: 14px;
  }
}
.button__qsgxR:global(.__wab_instance) {
  position: relative;
}
.svg__xkp5P {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__gIxyN {
  color: var(--token-l4RywEndILge);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gIxyN {
    font-size: 12px;
  }
}
.svg___0Um35 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__jeUzB:global(.__wab_instance) {
  position: relative;
}
.svg__rysGp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__uJDg {
  color: var(--token-l4RywEndILge);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uJDg {
    font-size: 12px;
  }
}
.svg__rTtI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__oqAiW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__oqAiW {
    width: 100%;
  }
}
.freeBox___1KSap {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox___1KSap > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___1KSap > :global(.__wab_flex-container) > *,
.freeBox___1KSap > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1KSap > :global(.__wab_flex-container) > picture > img,
.freeBox___1KSap
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__xMxk4 {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-p410ROcz8t53);
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___32LS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-l4RywEndILge);
  min-width: 0;
}
.text__kyQ3D {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-l4RywEndILge);
  align-self: flex-end;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kyQ3D {
    font-size: 12px;
  }
}
